# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
/.idea
/data
/node_modules
/bower_components
*.log
/config.json
/client/js/lib
/client/css/lib
/client/upload